# Server
PORT=3000
CORS_ORIGIN=http://localhost:5173,http://localhost:5174

# Database
MONGODB_URI=mongodb+srv://23520682_db_user:3lHybibpwLPGrpGU@uithealthcare.wsiuw0a.mongodb.net/healthcare?retryWrites=true&w=majority&ssl=true

# JWT
JWT_SECRET=your_super_secret_key_change_in_production

# AI
GEMINI_API_KEY=AIzaSyCnMw6PES7eWafa5yfMm1jHvbexSmQJRfA
